* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: rgb(255, 255, 167);
    font-family: "Short Stack";
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 167);
}

.lineOne {
    display: flex;
    align-items: center;
    text-align: left;
    margin: 10%;
    padding-top: 10px;
}

.lineOne_end {
    display: flex;
    justify-content: flex-end;
    margin-right: 30%;

}

.lineTwo {
    display: flex;
    justify-content: flex-end;
    margin-right: 30%;
    padding-top: 5%;
}

.lineTwo_end {
    display: flex;
    justify-content: flex-end;
    margin-right: 35%;
    padding-top: 6%;
}

.glow {
    color: rgb(255, 255, 167);
    text-shadow: 0 0 8px rgb(255, 255, 167), 0 0 16px rgb(255, 255, 167);
    animation: pulse 2s infinite;
}

@keyframes pulse {

    0%,
    100% {
        text-shadow: 0 0 8px rgb(255, 255, 167), 0 0 16px rgb(255, 255, 167);
    }

    50% {
        text-shadow: 0 0 12px rgb(255, 255, 167), 0 0 24px rgb(255, 255, 167);
    }
}